<h2>

  <img  src="../../images/dartset.jpg" height="35">
  Edit Your Dart <%= @dart.name %>
  <img  src="../../images/dartset.jpg" height="35">
  </h2>
<span style="color:red;">
  <%= @error_message %>
  </span>
  <br />
<form action="/darts/<%= @dart.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH" />
  
  
  <label > Dart Name:</label>
  <input type="text" name="name" value="<%= @dart.name %>">
  <br />
  <br />
  <label > Dart Manufacturer: </label>
  <input type="text" name="manufacturer" value="<%= @dart.manufacturer %>"> <br />
  <br />
  <label> Dart Condition: </label>
  <input type="text" name="condition" value="<%= @dart.condition %>"> <br />
  <br />
  <label> Dart Body/Weight in grams: </label>
  <input type="text" name="body" value="<%= @dart.body %>"> <br />
  <br />
  <label> Dart Shaft: </label>
  <input type="text" name="shaft" value="<%= @dart.shaft %>"> <br /> 
  <br />  
  <label> Dart Flight: </label>
  <input type="text" name="flight" value="<%= @dart.flight %>"> <br />
  <br /><br />
  <label> Case in which you find this set </label>
  <select name="dart_set_id">
    <% current_user.dart_sets.each do |dart_set| %>
      <option value="<%= dart_set.id %>"<% if dart_set.id == @dart.dart_set_id %> selected="selected"<% end %>><%= dart_set.name %></option>
    <% end %>
  </select>
  <br /><br />
<table>
  <input type="submit" value="Update">
</form>
<br>
<form action="/darts/<%= @dart.id %>" method="GET">
  <input type="submit" value="Cancel">
</form>
</table>